<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/aboutUs.css">
</head>
<body>
<div id="content">
    <div class="banner"><img src="img/aboutusBanner.png" alt=""></div>
    <p class="center"><span>关于赳赳单车</span></p>
    <p class="pcenter">赳赳单车是一款“终身免费骑行”的智能无桩共享单车，采用新一代物联网技术，让骑行更有趣；符合人体工学的结构设计，让骑行更健康；多重安全防范设施，让骑行更安心。</p>
    <p class="pcenter">为了传递文明共享的出行精神，传播健康公益的正面能量，赳赳推出“终身免费”的口号，创建了首个真正免费的共享单车模式。其LOGO独具匠心地传达出赳赳的品牌价值，诠释了一个持久共享的新生态城市概念，承载了赳赳“终身免费骑行”的承诺。</p>
    <p class="pcenter">2017年6月赳赳单车从上海出发，目前已经在上海、深圳、成都、北京、厦门落地。炫酷活力的品牌形象，文明善骑的品牌精髓，将会把低碳出行，健康生活的新生态城市概念遍播祖国大江南北！</p>
<p class="pcenter">随着物质生活的不断富足，人们越来越注重生活品质，而理想的高品质生活的标准是什么？科技给我们更多的便利和优越感，时尚让我们赏心悦目，心情愉悦，而健康是我们享受美好生活的必要条件！赳赳想要建立的共享模式以科技为支撑，与时尚比肩，和健康同行，打造一个科技、时尚、健康共享的生态圈，最大程度的提高人们的生活品质，让城市中的你有更多的幸福感！</p>


    <!--<p class="pcenter">上海赳赳自行车科技有限公司成立于2017年3月。</p>-->
    <!--<p class="pcenter">赳赳单车创建了首个真正免费的共享单车模式，其LOGO独具匠心地传达出赳赳的品牌价值，诠释了一个持久共享的新生态城市概念，承载了赳赳“终身免费骑行”的承诺。</p>-->
    <!--<p class="pcenter">-->
        <!--为了传递文明共享的出行精神，传播健康公益的正面能量，赳赳推出“终身免费，押金秒退，乐享骑行”的口号，鼓励更多的人加入低碳骑行的队伍中来，普及和确保全民免费骑行，勾画一副利于大众低碳出行，激活身体能量，改善绿化环境的健康生态蓝图！</p>-->
    <!--<p class="pcenter">-->
        <!--赳赳单车是一款“终身免费骑行”的智能无桩共享单车，优化骑行体验。采用新一代物联网技术，让骑行更有趣；符合人体工学的结构设计，让骑行更健康；多重安全防范设施，让骑行更安心，赳赳承诺给您“终身免费”的骑行乐趣！</p>-->
    <!--<p class="pcenter">上海赳赳智慧数据科技服务有限公司成立于2017年8月，从事互联网技术开发和服务支持、电子商务、广告营销等业务，目前运营的主要项目有赳赳单车。
        赳赳单车创建了首个真正免费的共享单车模式，其LOGO独具匠心地传达出赳赳的品牌价值，诠释了一个持久共享的新生态城市概念，承载了赳赳“终身免费骑行”的承诺。</p>-->


    <p class="center"><span>联系我们</span></p>
    <p class="linkUs">智能客服+人工客服，为您提供最好的服务。</p>
    <p class="linkUs">客服电话：4001505099 &nbsp;&nbsp;&nbsp;&nbsp; 邮箱：public@99bicycle.com</p>
    <p class="linkUs">商务合作：邮箱：fengkai@99bicycle.com</p>
    <p class="linkUs" style="padding-bottom:100px">微信公众号：jiujiudanche</p>


</div>
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>