<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/brandStory.css">
</head>
<body>
<div id="content">
    <div class="banner"><img src="img/storyBanner.png" alt=""></div>
    <p class="titleImg">“健康运动计数器，陪您终身免费骑行”</p>
    <p class="t1">在繁华的城市，每一份激情常常会被扑面而来的机会瞬间点燃，尽管，赤裸裸的现实会把自己的心愿一点点地击碎，但初生牛犊的自己还是会义无反顾地投入到梦想中。</p>
    <p class="t1">
        实习的那段时间，赳赳单车载着胖胖的自己，穿梭在城市的每个面试场，自信满满地拿下人生的第一个offer，梦想于是从此刻开始。真实的工作，远比校园中的实践残酷很多，有时，繁重的工作负荷，几乎让胖胖的身体无法承受，慢慢地，自己变得越来越胖，精力也越来越差，这份永无止尽的繁忙让自己完全无暇运动和健身……</p>
    <p class="t1">直到，打开赳赳单车APP，唤醒自己的健身计划，每天上下班的免费骑行，让自己轻松完成900卡路里的脂肪燃烧，一瓶900ml水壶的贴身陪伴，时时给自己的骑行运动最充分的补给。</p>
    <p class="titleImg">“出行的时尚标配，伴您终身免费骑行”</p>
    <p class="t1">
        激情奋斗的自己，就算过着起得比鸟早，睡得比狗晚的苦逼生活，每天在拥挤的人群中，依然希望自己的出行态度是与众不同，是时尚有范儿的。哪怕在雨天，也不会阻止自己耍帅的小情绪，亲身体验赳赳单车的防滑设计给了我耍帅装酷的资本，自从有了赳赳单车，早上9点的晨会，绝不会迟到。尽管一天的商务活动，让自己的神经如此紧绷，走出office，还是想取一辆安全夜行的赳赳单车，免费骑行在夜间9点之后的繁华都市中，伴着一缕缕夜风，随时加入到马路两旁的夜跑队伍，让自己的瞬间成为时尚骑行大咖。</p>
    <p class="titleImg">“文明的善骑大使，带领终身免费骑行 ”</p>
    <p class="t1" style="padding-bottom:100px">
        在大都市，努力拼搏的自己，有一天成为了赳赳单车文明善骑大使中的一员。每月9日，自己会积极地投身到赳赳公益日活动，带领更多的人加入终身免费骑行的体验计划，鼓励每一位用户，成为文明骑行的公益监督者，用自己公益视角去监督社会的骑行行为，一次违章举报，一次故障的申报，赳赳客服会第一时间准确回复您；一次文明骑行的分享，会在你免费骑行的基础上，累计更多的公益积分，随时获取抽奖机会；一杯免费的休闲下午茶，一场免费的电影，一次免费的旅行……将从天而降，将让你的骑行惊喜不断！</p>
</div>
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>