<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>
<div id="content">
    <div class="banner"><img src="/img/bannerImg.png" alt=""></div>
    <div class="article">
        {{content}}
        <!--<div class="article1"><p class="atitle">【赳赳单车正式登陆上海】“终身免费骑行” 模式正式开启</p>-->
            <!--<p class="adetail">作者：<span>99Bicycle</span>来源：<span>中国网</span>发布时间：<span>2017年6月15日</span></p>-->
            <!--<p class="acontent">-->
                <!--2017年6月15日，上海赳赳自行车科技有限公司正式宣布“赳赳共享单车”终身免费骑行平台开启，用“你低碳，我买单”的体验战略引领更广范围的大众实现真正意义上的“免费骑行”！......</p>-->
            <!--<a class="areadmore" href="/news/detail/11">阅读原文→</a></div>-->
        <!--<div class="article2"><p class="atitle">【随心生活，健康共享】赳赳单车开启健康时尚新风尚</p>-->
            <!--<p class="adetail">作者：<span>99Bicycle</span>来源：<span>赳赳单车</span>发布时间：<span>2017年7月20日</span></p>-->
            <!--<p class="acontent">7月20日，人类月球日之际，赳赳单车举办了一场以“健康.时尚.科技”为主题的媒体沙龙，呼吁大家随心生活-->
                <!--，健康共享。赳赳单车创建首个“终身免费”的共享单车模式，如同人类第一次登月成功一样，赳赳单车的共享模式开拓了共享经济新概念，对共享经济的发展具有里程碑式的意义！......</p>-->
            <!--<a class="areadmore" href="detail/2">阅读原文→</a></div>-->
        <!--<div class="article3"><p class="atitle">【深圳】深圳，终身免费的赳赳单车来啦</p>-->
            <!--<p class="adetail">作者：<span>99Bicycle</span>来源：<span>赳赳单车</span>发布时间：<span>2017年8月08日</span></p>-->
            <!--<p class="acontent">-->
                <!--赳赳单车6月问世，一炮打响魔都，面世一个月就圈粉无数，好评不断，创下惊人的成绩，一个多月有50多万注册用户，承接骑行数目200多万。很多小伙伴都在问，什么时候来北京？深圳啥时候会有？广州来点车可以吗？足以看出大家对赳赳单车的拥戴，赳赳单车针对全国的99宝贝们做好了计划，对于投放城市和投放策略，赳赳单车有严谨的策划和考量。......</p>-->
            <!--<a class="areadmore" href="detail/3">阅读原文→</a></div>-->
        <!--<div class="article4"><p class="atitle">【未雨绸缪】上海叫停共享单车投放，赳赳单车未雨绸缪</p>-->
            <!--<p class="adetail">作者：<span>99Bicycle</span>来源：<span>赳赳单车</span>发布时间：<span>2017年8月18日</span></p>-->
            <!--<p class="acontent">-->
                <!--8月18日，上海市交通委正式发文声明上海市共享单车发展的指导意见，要求各家共享单车企业禁止车辆投放，同时加强运维调度，加大整治违停、乱停力度，迅速清理无法正常使用的异常车辆，避免无端占用城市道路，意在整治上海单车过多，分布不均、违停乱放以及故障车积压等问题。......</p>-->
            <!--<a class="areadmore" href="detail/4">阅读原文→</a></div>-->
        <!--<div class="article5"><p class="atitle">【北京】赳赳单车惊现帝都，终身免费骑，一键爽心体验</p>-->
            <!--<p class="adetail">作者：<span>99Bicycle</span>来源：<span>中国网视窗</span>发布时间：<span>2017年8月28日</span></p>-->
            <!--<p class="acontent">-->
                <!--8月28日，在北京街头惊现一批色彩亮丽，设计时尚的炫酷单车，车身还印有显眼的“终身免费骑”，引得不少北京市民纷纷扫码骑行，在北京街头掀起了一股红色单车潮流。这个共享单车究竟是何方神圣，又为什么能打出终身免费的噱头。......</p>-->
            <!--<a class="areadmore" href="detail/5">阅读原文→</a></div>-->
        <!--<div class="article6"><p class="atitle">【厦门】终身免费的赳赳单车要进入浪漫之都啦！</p>-->
            <!--<p class="adetail">作者：<span>99Bicycle</span>来源：<span>中华网科技</span>发布时间：<span>2017年9月08日</span></p>-->
            <!--<p class="acontent">-->
                <!--赳赳单车要进厦门啦！据了解，9月9日，赳赳单车将在厦门投放单车，截止到目前，赳赳单车已经在4个城市有投放车辆，共享单车市场竞争日益激烈，赳赳单车分秒必争的抢市场的趋势还是比较明显的！......</p>-->
            <!--<a class="areadmore" href="detail/6">阅读原文→</a></div>-->
        <!--<div class="article7"><p class="atitle">【北京】赳赳单车首家接入电子围栏促进文明骑行</p>-->
            <!--<p class="adetail">作者：<span>99Bicycle</span>来源：<span>凤凰网</span>发布时间：<span>2017年9月13日</span></p>-->
            <!--<p class="acontent">-->
                <!--赳赳单车自成立伊始，对引导赳粉文明骑行方面做了很多工作。赳赳单车首次提出了文明善骑的理念，希望把城市中善于骑行的小伙伴集结起来，提倡友善文明的对待身边的人，事，物，影响更多的国人开展慈善社会工作，激发人们内心积极向善的一面，极大地提升中国人的精神面貌。赳赳倡导“共享比占有更酷”，“文明规范骑行”，同时设置严格的信用积分体系，就是为了帮助和规范大家文明骑行的行为。......</p>-->
            <!--<a class="areadmore" href="detail/7">阅读原文→</a></div>-->
    </div>
</div>

<script src="/js/vendor.js"></script>
<script src="/js/main.js"></script>
</body>
</html>