<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/phone/error.css">
</head>
<body>
<div id="content">
    <div class="errorImg"><img src="/img/404.png" alt=""></div>
    <p class="txt">那个...网页不见了</p>
    <div class="operation">
        <div class="toHome"><img src="/img/goback.png" alt=""><span>返回首页</span></div>
        <div class="refresh"><img src="/img/refresh.png" alt=""><span>刷新一下</span></div>
    </div>
</div>
<script src="/js/phone/zepto.js"></script>
<script src="/js/error.js"></script>
</body>
</html>