<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/phone/news.css" />
</head>
<body>
<div id="content">
    <div class="banner"> <img src="/img/phone/newsBanner.png" alt="" />
        <p>终身免费共享单车的创始者，</p>
        <p class="bottomP">还原共享单车该有的模样。</p>
    </div>
    <div class="part1">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
</body>
</html>