<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/phone/download.css"/>
</head>
<body>
<div id="content">
    <div class="banner"><img src="/img/phone/mohuBg.png"/>
        <p class="touming"><img src="/img/phone/toumingLogo.png"/></p>
        <p class="theme">终身免费共享单车的创始者</p>
        <p class="apple"><img src="/img/phone/apple.png"/><img src="/img/phone/android.png" alt="" class="android"/></p>
        <p class="downNow">立即下载</p>
        <p class="iphone"><img src="/img/phone/iphone.png"/></p></div>
    <h1>赳赳单车使用指南</h1>
    <div class="useGuide"><img src="/img/phone/guide-1.png" alt=""/><img src="/img/phone/guide-2.png" alt=""/><img
            src="/img/phone/guide-3.png" alt=""/><img src="/img/phone/guide-4.png" alt=""/>
        <div class="guideDetail1"><p class="special">赳赳单车 我们只做<span>终身</span>免费</p>
            <p>打开APP，导航伴你随时感受骑行乐趣。</p></div>
        <div class="guideDetail2"><p class="special">三合一智能锁 开锁更快捷</p>
            <p>蓝牙开锁，扫码开锁，骑行更快捷。</p></div>
        <div class="guideDetail3"><p class="special">水壶架</p>
            <p>渴了累了它时刻呵护着你。</p></div>
        <div class="guideDetail4"><p class="special">反光标</p>
            <p>黑夜不再害怕，时刻为你保驾护航。</p></div>
    </div>
    <div class="introduce"><p class="redTitle1">赳赳单车APP</p>
        <p>赳赳创建了首个终身免费的共享单车模式，采用新一代物联网技术，最大限度优化骑行体验。</p>
        <p class="redTitle">赳赳福利</p>
        <p>一键注册，随时随地终身免费骑行。</p>
        <p class="redTitle">赳赳乐享</p>
        <p>赳赳乐享，视频红包抢不停。</p>
        <p class="redTitle">赳赳善骑</p>
        <p>手机扫码开锁，方便快捷。</p></div>
</div>
<script src="/js/phone/zepto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">    $(function () {
    $('.downNow').on('click', function () {
        var u = navigator.userAgent
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)
        var isWeixin = !!/MicroMessenger/i.test(u)
        var isAlipay = !!/Alipay/i.test(u)
        if (isAndroid) {
            if (isWeixin || isAlipay) {
                document.getElementById('JweixinTip').style.display = 'block'
                return
            }
            window.location.href = 'https://at.umeng.com/0n8rCe'
        } else if (isiOS) { window.location.href = 'https://at.umeng.com/uSnauq' } else { window.location.href = 'https://at.umeng.com/emKviC' }
    })
})</script>
</body>
</html>