.banner{
	position: relative;
	width: 100%;
}
.banner img{
	display: block;
	width: 100%;
}
.banner p{
    position: absolute;
    color: white;
    top: 34%;
    font-size: 12px;
    left: 41%;
    padding-right: 3%;
    line-height: 14px;
}
#content .banner p{
	width: auto;
}
#content p {
    width: 84%;
    margin: 0 auto;
}
.center {
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
}
.center span{
    background: url(../../img/phone/redBg.png) no-repeat;
    background-size: 32px 7px;
    background-position: 0 20px;
    padding-left: 8px;
}
.pcenter{
	font-size: 14px;
	padding-bottom: 24px;
	color: #5e5e5e;
	line-height: 24px;
}
.linkUs{
	font-size: 12px;
	padding-bottom: 12px;
	color: #2d2d2d;
}
