body {
    background: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333;
}
#header{
	width: 100%;
	height: 64px;
	background: #2b2e31;
	position: relative;
}
.logo{
	position: absolute;
	width: 140px;
	height: 40px;
	background: url(../../img/phone/logo.png) no-repeat;
	background-size: 100% 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.menu{
	width: 21px;
	height: 21px;
	background: url(../../img/phone/menuBg.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 22px;
	left: 10px;
}
#footer{
	background: #292929;
	width: 100%;
	color: white;
	font-size: 12px;
	text-align: center;
}
.detail{
	width: 84%;
	margin: 0 auto;
}
.themes{
	width: 100%;
	border-bottom: 1px solid #545454;
	height: 50px;
	padding-top: 10px;
}
.severTime{
	width: 100%;
	border-bottom: 1px solid #545454;
	clear: both;
	padding: 10px 0;
}
.severTime p{
	line-height: 24px;
}
.copyRight{
	width: 100%;
	padding: 10px 0;
}
.copyRight p{
	line-height: 24px;
}
.footLogo{
    /*float: left;*/
    width: 52%;
    /*height: 27px;
    background: url(../img/footLogo.png) no-repeat;*/
    /*background-size: 100% 100%;*/
    /*margin-left: 14%;*/
    /*margin-right: 10px;*/
    /*margin-top: 14px;*/
   	margin: 10px auto;
}
.footLogo img{
	width: 100%;
}
.footThemes{
	padding-left: 10px;
	width: 120px;
	float: left;
}
.footThemes p{
	line-height: 24px;
}
.border{
	float: left;
	height: 30px;
	width: 1px;
	background: #e31c19;
	margin-top: 10px;
}
#choose{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2B2E31;
}
.head{
	width: 100%;
	height: 45px;
	position: relative;
}
.menu1{
	width: 21px;
	height: 21px;
	background: url(../../img/phone/closeMenu.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 12px;
	left: 10px;
}
.choose{
	color: white;
	width: 61.33%;
	margin: 0 auto;
}
.choose p{
    border-bottom: 1px solid #55585a;
    text-align: center;
    padding: 25px 0;
}
.choose p a{
	text-decoration: none;
	color: white;
	padding: 25px 30%;
}

















