.banner{
    position: relative;
    width: 100%;
}
.banner img{
    display: block;
    width: 100%;
}
.banner p{
    position: absolute;
    color: white;
    top: 44%;
    font-size: 12px;
    left: 40%;
}
.banner .bottomP{
    top: 56%;
    left: 54%;
}
.article{
    width:85%;
    margin:0 auto;
}
.atitle{
    font-size:19px;
}
.article1{
    margin-top:10%;
}
.adetail{
    font-size:12px;
    color: #959595;
    margin: 5% 0;
}
.adetail span{
    padding-right:2px;
}
.adetail span:first-child{
    color:#df0007
}
.acontent{
    font-size: 14px;
    color: #5e5e5e;
    margin-bottom: 5%;
    line-height: 21px;
}
.areadmore{
    font-size: 12px;
    color:#df0007;
    text-decoration: none;
}